## Backend - make .env in backend and store these

# get from google AI API key
GEMINI_API_KEY=

# Generate a common (backend frontend) secret key
FRONTEND_SECRET_KEY=

# your database url
DATABASE_URL=


## Frontend - make .env in frontend and store these

# use localhost URL or deployed URL
NEXT_PUBLIC_SITE_URL=

# common secrret key
FRONTEND_SECRET_KEY=

# your backend deployed url
BACKEND_URL=